<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership defaultProvider="NextMembershipProviderAsp">
			<providers>
				<clear/>
				<add name="NextMembershipProviderAsp" type="NextFramework2.NextPassport.NextMembershipProviderAsp" connectionStringName="dbContent"/>
			</providers>
		</membership>
		<globalization culture="it-IT"/>
		<httpHandlers>
			<remove verb="GET" path="visualcaptcha.axd"/>
			<remove verb="GET" path="sitemap.xml"/>
			<!--
			<remove verb="GET" path="download.axd"/>
			<remove verb="*" path="*.ipn"/>
			<remove verb="GET" path="getscreenshot.aspx"/>
      -->
			<add verb="*" path="Upload.axd" type="NextUpload"/>
		</httpHandlers>
		<httpModules>
			<!--
			<remove name="UrlRewrite"/>
			<remove name="RequestChecker"/>
          -->
		</httpModules>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="NextComment/Default.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
			<httpRuntime maxRequestLength="8162" executionTimeout="36"/>
		</system.web>
	</location>
	<location path="NextMemo2/CreaCatalogo.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Test/testfile2.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="RequestChecker"/>
			<remove name="UrlRewrite"/>
		</modules>
		<handlers>
			<add name="upload.axd_GET" verb="*" path="Upload.axd" type="NextUpload"/>
			<remove name="sitemap.xml_GET"/>
			<remove name="visualcaptcha.axd_GET"/>
			<!--
			<remove name="download.axd_GET"/>
			<remove name="ScriptResource.axd_GET,HEAD"/>
			<remove name="*_AppService.axd_*"/>
			<remove name="*.asmx_*"/>
      -->
		</handlers>
	</system.webServer>
</configuration>
