<?xml version="1.0" encoding="utf-8"?>
<!-- Nota: come alternativa alla modifica manuale del file, è possibile utilizzare lo strumento di amministrazione Web 
    per configurare le impostazioni dell'applicazione. Utilizzare il comando 
    Configurazione ASP.NET del menu Sito Web di Visual Studio.
    Un elenco completo di impostazioni e commenti è disponibile nel file 
    machine.config.comments che si trova in genere in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
    <appSettings/>
    
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
</configuration>

