<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="webId" value="1" />
		<add key="activeLanguages" value="it" />
		<add key="urlBase" value="http://www.infoschede.it" />
		<add key="pathUpload" value="C:\inetpub\wwwroot\infoschede.it\upload\" />
		<add key="isTesting" value="false" />
		<add key="UseNumericCaptcha" value="true" />
	</appSettings>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="dbContent" connectionString="Data Source=WIN-LFN767S368I\SQLEXPRESS01;Initial Catalog=infoschede;Persist Security Info=True;User ID=infoschede_db_usr;Password=jN4fjZ6eXS5rZJ3wXDgI" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.net>
	
	  <mailSettings>
		<smtp deliveryMethod="SpecifiedPickupDirectory">
			<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup" />
		</smtp>
	  </mailSettings>
	 
    </system.net>
	<system.web>
		<xhtmlConformance mode="Strict" />
		<globalization fileEncoding="iso-8859-1" />
		<customErrors mode="Off" />
		<compilation debug="true" defaultLanguage="C#">
			<assemblies>
			</assemblies>
		</compilation>
		<authentication mode="Forms" />
		<membership defaultProvider="NextMembership">
			<providers>
				<clear />
				<add name="NextMembership" type="NextFramework.NextPassport.NextMembership" connectionStringName="dbContent" enablePasswordRetrieval="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" />
			</providers>
		</membership>
		<pages theme="Default" />
		
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="RequestChecker" type="NextFramework.NextModules.RequestChecker" />
			<add name="UrlRewrite" type="NextFramework.NextModules.UrlRewrite" />
		</modules>
		<handlers>
			<add name="sitemap.xml_GET" path="sitemap.xml" verb="GET" type="NextFramework.NextHandlers.Sitemap" />
			<add name="visualcaptcha.axd_GET" path="visualcaptcha.axd" verb="GET" type="GURU4.net.Web.Controls.CaptchaLibrary.VisualCaptchaHandler" />
			<add name="createpdf.axd_GET" path="createpdf.axd" verb="GET" type="NextPdfTools.CreatePDF" />
			<add name="download.axd_GET" path="download.axd" verb="GET" type="NextFramework.NextHandlers.Downloader" />
		</handlers>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.infoschede\.it$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.infoschede.it/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>

</configuration>
